@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Dancing+Script&family=Jost:wght@400;700&display=swap');

* {
    text-decoration: none !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 999;
}

main {
    background-image: url(../assets/images/Fondo-8.svg);
}

.ulHeader {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 91px;
    background-color: #975C3E;
    align-items: flex-end;
    border-radius: 0px 0px 15px 15px;
    padding-bottom: 10px;
}

.linea {
    background-color: #FAEBDA;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 35px;
    border-radius: 10px;
}

.aHeader {
    color: #FEFEFD;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 24px;
    width: 203px;
    height: 30px;
}

.aHeader:hover {
    color: #FAA618;
}


.logo {
    position: relative;
    top: 70px;
}


/* FIN HEADER */

/* ----------Seccion 1----------- */

.containerTitPrinc {
    width: 33rem;
}

.titPrinc {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
}

.my-4 {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
}

.espacioEnBlanco {
    margin-top: 5rem;
}

.widthBudinNar {
    width: 31rem;
    
}

.widthPanDulce {
    width: 19rem;
}

.w-TorSelvaNegra {
    width: 12.7rem;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
}

.btnPedido {
    background-color: #623518;
    margin-top: 1rem;
    padding: .7rem;
    color: #fff;
    width: 20rem;
    border-radius: 10px;
    font-family: "Jost";
    font-weight: 400;
    font-size: 1.2rem;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
}

.btnPedido:hover {
    background-color: #4A2F1E;
    color: #fff;
}
.btnCarta:hover {
    background-color: #4A2F1E;
    color: #fff;
}

/* ---------Fin Seccion 1---------- */


/* SECCION 2 */
.sec-2 {
    margin-top: 10rem;
}
.imgSec2-torta {
    width: 31rem;
    margin-left: 3.4rem;
}
.imgSec2-galletas {
    width: 31rem;
    
}
.titSec2 {
    font-family: 'Jost', sans-serif;
}
.titSec2Dancing {
    font-family: 'Dancing Script';
    font-size: 2.5rem;
}
.parrafSec-2 {
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
    width: 31rem;
    margin-left: 4rem;
}
.parraf-galletas {
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
    width: 31rem;
}
/* FIN SECCION 2 */

/* SECCION 3 */
.sec-3 {
    margin-top: 7%;
}

.tituloCarta {
    display: flex;
    justify-content: center;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: -0.04em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cartaLlave {
    display: flex;
    justify-content: center;
}
/* FIN SECCION 3 */

/* CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card1,
.card2,
.card3,
.card4 {
    margin-top: 30px;
    display: flex;
    border-radius: 15px;
    background-color: #FEFEFD;
    width: 542px;
    height: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tituloCard {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.04em;
}

.textosCard {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
}


/* CAROUSEL */

.carousel {
    width: 204px;
}

.fotoCarousel {
    height: 200px;
    border-radius: 15px;
}

.descripcionCarousel {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    color: #FEFEFD;
    margin-bottom: -45px;
}

.card5 {
    display: flex;
    border-radius: 15px;
    background-color: #FEFEFD;
    width: 1114px;
    height: 310px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerCard5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tituloCard5 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 52.02px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    bottom: 45px;
}

.textoCard5 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 29px;
}

.btnCarta {
    background-color: #623518;
    color: #fff;
    width: 15rem;
    position: relative;
    top: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.card6 {
    display: flex;
    border-radius: 15px;
    background-color: #FEFEFD;
    width: 1112px;
    height: 90px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.textoCard6 {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    width: 100%;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: -0.04em;
}

/* ---------Seccion 4---------- */
.containerSeccion4 {
    background-color: #FAEBDA;
    width: 100% !important;
}

.imgSecc4 {
    width: 11.5rem;
}

.titSecc4 {
    margin-top: 7rem;
    margin-bottom: 4rem;
    font-family: 'Dancing Script';
    font-size: 2.6rem;
}

.btnSecc4 {
    background-color: #623518;
    border-radius: .7rem;
    padding: .8rem;
    color: #fff;
    width: 9rem;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
}
.btnSecc4:hover {
    background-color: #4A2F1E;
    color: #fff;
}

.textoEnFlecha {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.shadowText {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.textSec-4 {
    font-size: 1.7rem;
}

.btnWhatsApp {
    background-color: #FAA618;
    border-radius: 1rem;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    padding: .8rem;
}

.btnWhatsApp:hover {
    background-color: #DC8F0C;
}
/* ---------Fin Seccion 4---------- */

/* ---------Footer---------- */
.fondoFooter {
    background-color: #975C3E;
    margin-top: 4rem;
}
.logoFooter {
    width: 16rem;
    position: relative;
    bottom: 38px;
    left: 15px;
    z-index: 1;
}
.contacFooter {
    font-size: 2.2rem;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.whatsAppParraf {
    margin: 0;
}
.imgFooter {
    width: 78rem;
    position: absolute;
    top: 233rem;
}
/* ---------Fin de Footer---------- */


/* ---------Media Query---------- */
@media (max-width: 575px) {

    .containerMainMobile {
        display: flex;
        flex-direction: column;
    }

    .mainMobile {
        display: flex;
        flex-direction: column;
    }

    .espacioEnBlanco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .widthPanDulce {
        width: 100%;
    }

}

/* ---------Fin de Media Query---------- */